{% extends "layout.html" %}

{% block content %}
    <section class="projects">
        <h1>Projects</h1>
        <ul>
            <li>
                <h2>Project 1</h2>
                <p>Description of Project 1.</p>
                <a href="#">View Demo</a>
                <a href="#">GitHub Repository</a>
            </li>
            <li>
                <h2>Project 2</h2>
                <p>Description of Project 2.</p>
                <a href="#">View Demo</a>
                <a href="#">GitHub Repository</a>
            </li>
        </ul>
    </section>
{% endblock %}
